<template name="index">
<div class="jumbotron">
      <div class="container">
        <div class="media">
            <div class="media-left media-middle">
                <iframe class='media-object' width="560" height="315" src="https://www.youtube.com/embed/dyAVVvfBu40" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-body media-middle">
                <h1>小英給問嗎？</h1>
            網路使用者在網站上提問施政相關問題，並由更多的網路使用者連署提問，若是連署超過一定個數(市長層級的提問是五百人為下限)，各候選人團隊均「必須」要針對提問回答問題。
            北加小英後援會採取一樣的機制，提早在網路平台蒐集各方發問並安排幕僚回答，以提升網路使用者對蔡英文主席的認識。
                <p class='text-right'><a class="btn btn-primary btn-lg" href="{{pathFor route='questions'}}" role="button">瀏覽大家的問題  »</a></p>
            </div>
        </div>
      </div>
    </div>

<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h2>海外台美人的參與</h2>
            <p>
            海外僑民參與國內議題的方式有現，僑胞回台投票人數頂多千人萬人，但以網站宣傳的方式來拉攏更多支持者，會比傳統的一票拉一票博感情的宣傳方式還要更有效率
            </p>
        </div>
        <div class='col-md-2'></div>
        <div class="col-md-4">
          <h2>政策辯論的透明化</h2>
          <p>
          利用網站的全球性與團隊各志工的英文能力，將部分重要的發問與回答翻譯為英文，讓政策的討論得到全球性的能見度，由北加分會邀請研究台灣政治之國際學者發問，得以讓小英的政策得到國際的認證。
          </p>
        </div>
      </div>
</div>
</template>
