<template name="index">
<div class="jumbotron">
    <div class="container">
        <div class="media">
            <div class="pull-left media-middle">
                <iframe class='media-object' width="560" height="315" src="https://www.youtube.com/embed/dyAVVvfBu40" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-body media-middle">
                <h1>小英給問嗎？</h1>
                對蔡英文的政策有所質疑嗎？網路上紛紛擾擾充斥著各式各樣號稱”官方”的說法，到底哪些是謠言？哪些是真的回應？你覺得小英現在的政策白皮書漏掉了哪些重要的面向嗎？
                歡迎大家一起來踢館！把你所有的質疑都寫出來，或是連署你有興趣的議題，藉由社群的力量，我們可以找出哪些是我們台美人共同關心的議題，讓小英直接面對大家的挑戰，
                回應大家關心的政策，給大家第一手的回答！
                <p class='text-right'><a class="btn btn-primary btn-lg" href="{{pathFor route='questions'}}" role="button">瀏覽大家的問題  »</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1">
                <h2>海外台美人的參與</h2>
                <p>
                蔡英文此行訪美可能是選舉前的唯一一次，因為行程緊湊的因素，只停留DC, NY, 和SF三個城市。
                為免遺漏其他城市台美人寶貴的建議，我們希望可以透過此一平台讓小英了解更多台美人所關心的議題，同時也可以直接做更有效的溝通。
                讓台美人的聲音也可以協助小英建立相關政策，並進而鼓勵所有支持相同理念的台美人願意返台投票，讓大家的理念可以付諸實現。
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10 col-md-offset-1">
                <h2>政策辯論的透明化</h2>
                <p>
                利用網站的全球性與團隊各志工的英文能力，將部分重要的發問與回答翻譯為英文，讓政策的討論得到全球性的能見度，由北加分會邀請研究台灣政治之國際學者發問，得以讓小英的政策得到國際的認證。
                </p>
            </div>
        </div>
    </div>
</div>
</template>
