<template name="login">
{{#if currentUser}}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentUser.services.facebook.name}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><button id="logout" type="button" class="btn btn-link">Log Out</button></li>
            </ul>
        </li>
    </ul>
{{else}}
        <p class="navbar-right navbar-text"><a id='facebook-login' href="#" class="navbar-link">Login with Facebook</a></p>
{{/if}}
</template>
