<template name="login">
{{#if currentUser}}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{currentUser.services.facebook.name}}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class='menu-item' href="{{pathFor 'myDashBoard'}}">我的紀錄</a></li>
                <li><a href='#' id="logout" class='menu-item' role='button'>Log Out</a></li>
            </ul>
        </li>
    </ul>
{{else}}
        <p class="navbar-right navbar-text"><a id='facebook-login' href="#" class="navbar-link">Login with Facebook</a></p>
{{/if}}
</template>
